<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FeelKnitService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MONGOHQ_URL" value="mongodb://appharbor:b2e60c2cdf2c1f8a698bb8cac75658d1@troup.mongohq.com:10072/294803ec_f609_4dfb_b908_7d054b5ec1db" />
    <!--<add key="MONGOHQ_URL" value="mongodb://localhost" />-->
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <FeelKnitService.Properties.Settings>
      <setting name="FeelingsDatabase" serializeAs="String">
        <value>294803ec_f609_4dfb_b908_7d054b5ec1db</value>
      </setting>
      <setting name="MONGOHQ_URL" serializeAs="String">
        <value>mongodb://appharbor:b2e60c2cdf2c1f8a698bb8cac75658d1@troup.mongohq.com:10072/294803ec_f609_4dfb_b908_7d054b5ec1db</value>
      </setting>
    </FeelKnitService.Properties.Settings>
  </applicationSettings>
</configuration>