<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MONGOHQ_URL" value="mongodb://appharbor:b2e60c2cdf2c1f8a698bb8cac75658d1@troup.mongohq.com:10072/294803ec_f609_4dfb_b908_7d054b5ec1db" />
    <!--<add key="MONGOHQ_URL" value="mongodb://localhost" />-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>